{% extends 'web_app/base.html' %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col">
                <h3>Request List</h3>
            </div>
            <div class="col-auto">

            </div>
        </div>
       <hr>

        <table id="itemsTable" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Request ID </th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Item ID</th>
                    <th scope="col">Unit of Measurement</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price Without VAT</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                {% for item in requests %}
                    <tr>
                        <td>{{ item.request_id }}</td>
                        <td>{{ item.employee_name }}</td>
                        <td>{{ item.item }}</td>
                        <td>{{ item.unit_of_measurement }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price_without_vat }}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ item.status }}</td>
                        <td><a aria-pressed="true" class="btn btn-primary" role="button">Confirm</a></td>
                        <td><a aria-pressed="true" class="btn btn-primary" role="button">Reject</a></td>

                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </body>
    </html>
{% endblock %}